:root {
    --thegreen:#7ABF24;
    --thehovergreen:#79bf24ab;
    --thewhite:#ffffff;
    --theviolet:#BB5E96;
    --semitransparent:#ffffffef;
    --milkglass:#ffffff6b;
}


body {
    color:var(--thewhite);
    font-family:sans-serif;
    overflow-wrap:break-word;
    background-color:var(--thegreen);
}

.wrapper {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas: "chat" "writebar";
}

.chat {
    grid-area:chat;
    background-color:var(--thehovergreen);
    text-align:left;
}

.writebar {
    grid-area:writebar;
    background-color:var(--thewhite);
    border-top:0.5vh solid black;
    position:fixed;
    bottom:0;
    height:10vh;
}

.writebar input {
    width:90vw;
}

.writebar button {
    width: 10%;
    display:inline-block;
    border:none;
    background-color:var(--thehovergreen);
    color:var(--thewhite);
    text-align:center;
    text-decoration:none;
    font-size:3vmin;
}
button:hover {
    background-color: var(--thegreen);
}